<h1><%= @director.name %></h1>
<% @director.movies.each do |movie| %>
<h3><%= movie.name %></h3>
<p><%= "#{movie.release_year} - #{movie.mpaa_rating} - #{movie.run_time} mins" %></p>
<p><%= "Rotten Tomatoes Score: #{movie.rotten_tomatoes_score}%"%> </p>
<p><%= "Oscar Winner?: #{movie.oscar_winner}"%> </p><br/>
<% end %>